In [9]:
# Lab 4.2

import sqlite3

def result(sql_text):
    conn = sqlite3.connect('tysql.sqlite')
    curs = conn.cursor()
    curs.execute(sql_text)

    for row in curs.fetchall():
        print(row)

    conn.close()

In [10]:
# Информация про БД
script_1 = """
SELECT * FROM sqlite_master
"""

result(script_1)

('table', 'Customers', 'Customers', 2, 'CREATE TABLE Customers\n(\n  cust_id      char(10)  NOT NULL ,\n  cust_name    char(50)  NOT NULL ,\n  cust_address char(50)  NULL ,\n  cust_city    char(50)  NULL ,\n  cust_state   char(5)   NULL ,\n  cust_zip     char(10)  NULL ,\n  cust_country char(50)  NULL ,\n  cust_contact char(50)  NULL ,\n  cust_email   char(255) NULL ,\n  PRIMARY KEY (cust_id)\n)')
('index', 'sqlite_autoindex_Customers_1', 'Customers', 3, None)
('table', 'OrderItems', 'OrderItems', 4, 'CREATE TABLE OrderItems\n(\n  order_num  int          NOT NULL                      ,\n  order_item int          NOT NULL                      ,\n  prod_id    char(10)     NOT NULL                      ,\n  quantity   int          NOT NULL                      ,\n  item_price decimal(8,2) NOT NULL                      ,\n  PRIMARY KEY (order_num, order_item)                   ,\n  FOREIGN KEY (order_num) REFERENCES Orders (order_num) ,\n  FOREIGN KEY (prod_id) REFERENCES Products (prod_id)\n)')
('index', 'sqlite_autoindex_OrderItems_1', 'OrderItems', 5, None)
('table', 'Orders', 'Orders', 7, 'CREATE TABLE Orders\n(\n  order_num  int      NOT NULL ,\n  order_date datetime NOT NULL ,\n  cust_id    char(10) NOT NULL ,\n  PRIMARY KEY (order_num)      ,\n  FOREIGN KEY (cust_id) REFERENCES Customers (cust_id)\n)')
('index', 'sqlite_autoindex_Orders_1', 'Orders', 9, None)
('table', 'Products', 'Products', 10, 'CREATE TABLE Products\n(\n  prod_id    char(10)      NOT NULL ,\n  vend_id    char(10)      NOT NULL ,\n  prod_name  char(255)     NOT NULL ,\n  prod_price decimal(8,2)  NOT NULL ,\n  prod_desc  text          NULL     ,\n  PRIMARY KEY (prod_id)             ,\n  FOREIGN KEY (vend_id) REFERENCES Vendors (vend_id)\n)')
('index', 'sqlite_autoindex_Products_1', 'Products', 11, None)
('table', 'Vendors', 'Vendors', 12, 'CREATE TABLE Vendors\n(\n  vend_id      char(10) NOT NULL ,\n  vend_name    char(50) NOT NULL ,\n  vend_address char(50) NULL     ,\n  vend_city    char(50) NULL     ,\n  vend_state   char(5)  NULL     ,\n  vend_zip     char(10) NULL     ,\n  vend_country char(50) NULL     ,\n  PRIMARY KEY (vend_id)\n)')
('index', 'sqlite_autoindex_Vendors_1', 'Vendors', 13, None)

In [15]:
# Список всех таблиц БД
script_2 = """
SELECT tbl_name FROM sqlite_master WHERE type='table'
"""

result(script_2)

('Customers',)
('OrderItems',)
('Orders',)
('Products',)
('Vendors',)

In [13]:
# Список всех cust_id таблицы Customers
script = """
SELECT cust_id FROM Customers
"""

result(script)

('1000000001',)
('1000000002',)
('1000000003',)
('1000000004',)
('1000000005',)

In [14]:
# Вывести всю таблицу Customers
script = """
SELECT * FROM Customers
"""

result(script)

('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')
('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)
('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')
('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')
('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)

In [17]:
# Список клиентов cust_name сортировка от Z до A
script = """
SELECT cust_name FROM Customers ORDER BY cust_name DESC
"""

result(script)

('Village Toys',)
('The Toy Store',)
('Kids Place',)
('Fun4All',)
('Fun4All',)

In [19]:
# Таблица клиентов и заказов (cust_id, order_num). Сортировка по по клиенту и затем по дате
script = """
SELECT * FROM Orders ORDER BY cust_id ASC, order_date ASC
"""

result(script)

(20009, '2012-02-08', '1000000001')
(20005, '2012-05-01', '1000000001')
(20006, '2012-01-12', '1000000003')
(20007, '2012-01-30', '1000000004')
(20008, '2012-02-03', '1000000005')

In [20]:
# Таблица (на основе items) c кол-вом и стоимостью товаром. Сортировка в порядке уменьшения кол-ва , а затем стоимости
script = """
SELECT quantity, item_price FROM OrderItems ORDER BY quantity DESC, item_price DESC
"""

result(script)

(250, 2.49)
(250, 2.49)
(250, 2.49)
(100, 10.99)
(100, 5.49)
(100, 2.99)
(100, 2.99)
(100, 2.99)
(50, 11.49)
(50, 4.49)
(20, 5.99)
(10, 11.99)
(10, 8.99)
(10, 3.49)
(10, 3.49)
(10, 3.49)
(5, 11.99)
(5, 4.99)

In [21]:
# Товар, цена которого равна 9.49
script = """
SELECT prod_name FROM Products WHERE prod_price = '9.49'
"""

result(script)

('King doll',)
('Queen doll',)

In [23]:
# Товар, цена которого в диапазоне 3 до 6, сортировка по возрастанию цены
script = """
SELECT prod_name, prod_price FROM Products WHERE prod_price >= 3 AND prod_price <= 6 ORDER BY prod_price ASC
"""

result(script)

('Fish bean bag toy', 3.49)
('Bird bean bag toy', 3.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)
('8 inch teddy bear', 5.99)

In [24]:
# кол-во проданного товара
script = """
SELECT SUM (quantity) FROM OrderItems
"""

result(script)

(1430,)

In [25]:
# кол-во наименований товара, цена которого  больше 4
script = """
SELECT count (prod_name) FROM Products WHERE prod_price > 4
"""

result(script)

(6,)

In [26]:
# Вывести три наиболее дорогих товара
script = """
SELECT prod_name FROM Products ORDER BY prod_price DESC LIMIT 3
"""

result(script)

('18 inch teddy bear',)
('King doll',)
('Queen doll',)

In [27]:
# Кол-во заказов для каждого клиента
script = """
SELECT DISTINCT cust_id, count (order_num) FROM Orders GROUP BY cust_id
"""

result(script)

('1000000001', 2)
('1000000003', 1)
('1000000004', 1)
('1000000005', 1)

In [28]:
# Список клиентов и их заказы
script = """
SELECT cust_name, Orders.order_num FROM Customers INNER JOIN Orders ON Customers.cust_id = Orders.cust_id
"""

result(script)

('Village Toys', 20005)
('Fun4All', 20006)
('Fun4All', 20007)
('The Toy Store', 20008)
('Village Toys', 20009)

In [29]:
# Два запроса: список товаров, цена которых меньше 5 и список товаров, цена которых больше либо равна 5. Используя UNION объединить запросы
script = """
SELECT prod_name, prod_price FROM Products WHERE prod_price < '5'
UNION ALL
SELECT prod_name, prod_price FROM Products WHERE prod_price >= '5'
"""

result(script)

('Fish bean bag toy', 3.49)
('Bird bean bag toy', 3.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)
('8 inch teddy bear', 5.99)
('12 inch teddy bear', 8.99)
('18 inch teddy bear', 11.99)
('King doll', 9.49)
('Queen doll', 9.49)