___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [4]:
import pandas as pd

Вивести версію та конфігурацію бібліотеки:

In [6]:
pd.__version__

'1.0.5'

In [5]:
df = pd.read_csv('Ecommerce Purchases')

Скільки рядків і стовпців в наборі даних:

In [172]:
df.shape

(10000, 14)

Перевірити, чи в наборі даних містяться порожні значення:

In [12]:
df.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

Яка середня ціна закупки (Purchase Price):

In [13]:
df['Purchase Price'].mean()

50.34730200000025

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [106]:
df['Language'].str.contains('en').sum()

1098

Скільки людей має посаду «Lawyer»?

In [19]:
df['Job'].str.contains('Lawyer').sum()

30

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [86]:
df.groupby('AM or PM')['AM or PM'].count()

AM or PM
AM    4932
PM    5068
Name: AM or PM, dtype: int64

Які 5 найпоширеніших назв вакансій?

In [38]:
df['Job'].value_counts()[0:5]

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [55]:
df[df['Lot'].str.contains('90 WT')]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
513,"50398 Mccoy Rest Suite 597\nSouth Garyborough,...",90 WT,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_2 like M...,Bright PLC,630438419693,11/19,173,American Express,jesse00@page.net,Energy engineer,156.70.208.94,ru,75.1

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [61]:
df[df['Credit Card']==4926535242672853].Email

1234    bondellen@williams-garza.com
Name: Email, dtype: object

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [102]:
CC_Prov = df['CC Provider'].str.contains('American Express')
Purchase_Price = df['Purchase Price']>80
df.loc [CC_Prov & Purchase_Price].count()

Address             174
Lot                 174
AM or PM            174
Browser Info        174
Company             174
Credit Card         174
CC Exp Date         174
CC Security Code    174
CC Provider         174
Email               174
Job                 174
IP Address          174
Language            174
Purchase Price      174
dtype: int64

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [6]:
df[df['CC Exp Date'].str.contains('/25')].count()

Address             1033
Lot                 1033
AM or PM            1033
Browser Info        1033
Company             1033
Credit Card         1033
CC Exp Date         1033
CC Security Code    1033
CC Provider         1033
Email               1033
Job                 1033
IP Address          1033
Language            1033
Purchase Price      1033
dtype: int64

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [120]:
result = df['Email'].str.split('@', expand=True)
result[1].value_counts()[0:5]

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: 1, dtype: int64

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [7]:
result = df['Browser Info'].str.split('/', n=1, expand=True)
df['Browser Info'] = result[0]
df.groupby(['Browser Info', 'Job'])['Browser Info'].value_counts()

Browser Info  Job                               Browser Info
Mozilla       Academic librarian                Mozilla         10
              Accommodation manager             Mozilla         11
              Accountant, chartered             Mozilla         14
              Accountant, chartered certified   Mozilla         13
              Accountant, chartered management  Mozilla         10
                                                                ..
Opera         Water quality scientist           Opera            5
              Web designer                      Opera            7
              Wellsite geologist                Opera            2
              Writer                            Opera            1
              Youth worker                      Opera            3
Name: Browser Info, Length: 1222, dtype: int64

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [8]:
import numpy as np
conditions = [
    (df['Purchase Price'] < 50),
    (df['Purchase Price'] >= 50) & (df['Purchase Price'] < 100),
    (df['Purchase Price'] >= 100)
    ]
values = [df['Purchase Price'] + df['Purchase Price']*0.3, df['Purchase Price'] + df['Purchase Price']*0.2, df['Purchase Price'] + df['Purchase Price']*0.1]
df['Actual price'] = np.select(conditions, values)
df[0:7]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,117.768
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,84.876
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,1.235
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,93.648
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,93.384
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla,Silva-Anderson,30246185196287,07/25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15,32.695
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla,Gibson and Sons,6011398782655569,07/24,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56,106.272

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [11]:
df = df.sort_values(by=['Language', 'Actual price'], ascending=False)

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

Кінцевий набір даних збережіть у файл з розширенням csv.

In [12]:
df.to_csv('lab work 5.2.csv')